.App {
  text-align: center;
}

#site-header{
  margin: 0 auto;
  height: 3.125rem;
  max-width: 72rem;
  flex: none;
}

.Header-module-firts>.Header-module{
  margin: 0 auto;
  height: 3.125rem;
  max-width: 72rem;
  border-bottom: 2px solid #333;
}

.Header-module{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #fff;
}

.Header-module>.header-module-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}


.header-module-logo{
  z-index: 2;
  flex: 0 0;
  min-width: max-content;
  height: 100%;
  padding: .25em .5em;
}

.Header-link{
  min-width: max-content;
  height: 100%;
  padding: 0 1em;
}

.Header-link:hover{
  background-color: #202020;
}

.App-logo {
  height: 25px;
  pointer-events: none;
}

.Container-pokemon{
  border-radius: 3cm;
  color: #fff;
  display: inline-block;
  padding: .20em .3em;
}

.Container-pokemon:hover{
  background-color: #202020;
}

.Container{
  background-color:  #2e2e2e;
}

.App-footer{
  border-top: 2px solid #333;
  margin: 0 auto;
  height: 2.125rem;
  max-width: 72rem;
  color: white;
  background-color: #2e2e2e;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a0a0a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
